body{
  text-align: center;
  font-family: helvetica;
}

#home{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.Navi{
  font-size: 18px;
  color: white;
  background-image: url("./images/flatiron.png");
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.york{
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("./images/flatiron.png")
}

.copyright{
  color: white;
  background-color: dimgray;
  background-size: cover;
  text-align: left;
}

#copy{
  display: inline-block;
  font-size: 11px;
}
